.dockerignore
.editorconfig
.gitignore
.gitattributes
Dockerfile-*
Makefile
LICENSE
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

**/*.yml
**/*.md
**/*_test.go

.git/
.github/
build/
vscode/
client/
client_draft/
client_stream/
docs/
examples/
templates/
public/
