# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
!release/**.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage

# Dependency directories (remove the comment below to include it)
tmp/

vendor/

main

.env

.docker/**/**/*.*
.docker/**/**/mnesia
.docker/**/data
!.docker/**/.gitkeep
!.docker/**/nginx.conf
!.docker/**/.gitkeep
!.docker/**/**/.gitkeep
.docker/postgres/**
!.docker/redis/config/sentinel.conf

**/node_modules
**/.next
**/.nuxt
**/.cache
**/.idea
**/.vscode

*.log
